.header__logo {
    max-width: 142px;
    margin: 0 0 41px;
    padding: 0;
}

@media screen and (max-width: 649px) {
    .header__logo {
        max-width: 104px;
        margin: 0 0 31px 27px;
    }
}