.page {
    max-width: 100%;
    min-height: 100vh;
    background-color: #000;
    margin: 0 auto;
    color: #fff;
}

@media screen and (min-width: 650px) and (max-width: 900px) {
    .page {
        max-width: 90%;
    }
}

@media screen and (max-width: 649px) {
    .page {
        max-width: 100%;
    }
}