.element__like_active {
    min-width: 22px;
    min-height: 19px;
    background: url(../../../../images/like_active.png) no-repeat center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: opacity .2s linear;
    border: 0;
    cursor: pointer;
    opacity: 1;
}