.popup__wrapper-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 75vw;
    max-height: 75vh;
    z-index: 2;
}